.footer {
  color: #000;
  font-size: 16px;
  line-height: 1.2;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.footer_primaryMenu {
  color: #57585b;
}
.footer_primaryMenu_primaryMenuInner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 83.75rem;
  padding: 0;
}
.footer_primaryMenu_primaryMenuInner_primarySec {
  border-bottom: 0.0625rem solid #d5d5d5;
  display: block;
  padding: 0 1.25rem 0 1rem;
}
.footer_primaryMenu_primaryMenuInner_primarySec_title {
  font-size: 0.875rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857;
  font-weight: 600;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  color: #000;
  display: none;
  position: relative;
  text-decoration: none;
}
.footer_primaryMenu_primaryMenuInner_primarySec_title_title:after {
  display: block;
  position: absolute;
  content: "";
  height: 0.125rem;
  bottom: -0.3125rem;
  top: auto;
  left: 0;
  right: 100%;
  background: #d31334;
  transition: right 0.25s ease-in-out;
}
.footer_primaryMenu_primaryMenuInner_primarySec_title:hover::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: rgb(211, 19, 52);
  display: block;
}
.footer_primaryMenu_primaryMenuInner_primarySec_dropdown {
  overflow: hidden;
  transition: height 0.25s ease;
}
.footer_primaryMenu_primaryMenuInner_primarySec_dropdown_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.0625rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.17647;
  grid-gap: 1.5rem;
  grid-auto-rows: min-content;
  display: grid;
}
.footer_primaryMenu_primaryMenuInner_primarySec_dropdown_list_content {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.footer_primaryMenu_primaryMenuInner_primarySec_dropdown_list_content:after {
  content: "";
  height: 3px;
  width: 0;
  background-color: rgb(211, 19, 52);
  display: block;
  transition: 0.3s ease-in-out;
}
.footer_primaryMenu_primaryMenuInner_primarySec_dropdown_list_content:hover::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: rgb(211, 19, 52);
  display: block;
}
.footer_primaryMenu_primaryMenuInner_externalLink {
  border-bottom: 0.0625rem solid #d5d5d5;
  color: #4d4d4d;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  margin: 2rem 1rem 0;
}
.footer_bottomPart {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 85.75rem;
  font-size: 0.875rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.42857;
  color: #57585b;
  display: flex;
  flex-direction: column-reverse;
  padding: 1.5rem 1rem;
}
.footer_bottomPart_policyLink {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (min-width: 62rem) {
  .footer_primaryMenu_primaryMenuInner {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer_primaryMenu_primaryMenuInner_primarySec {
    padding: 1rem 0 0;
    display: inline-block;
    border: none;
  }
  .footer_primaryMenu_primaryMenuInner_primarySec_title {
    display: inline-block;
  }
  .footer_primaryMenu_primaryMenuInner_primarySec_clickBtn {
    display: none;
  }
  .footer_primaryMenu_primaryMenuInner_primarySec_arrowDown {
    display: none !important;
  }
  .footer_primaryMenu_primaryMenuInner_primarySec_dropdown {
    height: auto !important;
  }
  .footer_primaryMenu_primaryMenuInner_primarySec_dropdown_list {
    padding: 1.5rem 0;
    gap: 1rem;
  }
  .footer_primaryMenu_primaryMenuInner_externalLink {
    border-bottom: none;
    margin: 1rem 0 0;
  }
  .footer_primaryMenu_primaryMenuInner_primarySec_dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  .footer_primaryMenu_primaryMenuInner_primarySec_dropdown.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  .footer_bottomPart {
    display: flex;
    flex-direction: row;
    border-top: 0.0625rem solid #d5d5d5;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  .footer_bottomPart_addressInfo {
    display: block;
  }
  .footer_bottomPart_policyLink {
    display: block;
    flex: 1;
    margin-bottom: 0;
    text-align: right;
  }
}
button {
  font-size: 0.875rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857;
  font-weight: 600;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  color: #000;
  width: 100%;
  text-align: left;
  padding: 0.9375rem 0;
  display: flex;
  border: 0;
  margin: 0;
  background: 0;
  position: relative;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-shadow: none;
  text-indent: 0;
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  word-spacing: normal;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}
li a:after {
  display: block;
  position: absolute;
  content: "";
  height: 0.125rem;
  bottom: -0.3125rem;
  top: auto;
  left: 0;
  right: 100%;
  background: #d31334;
  transition: right 0.25s ease-in-out;
}

.noneExpander {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.42857;
  font-weight: 600;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}
.noneExpander:after {
  display: block;
  position: absolute;
  content: "";
  height: 0.125rem;
  bottom: -0.3125rem;
  top: auto;
  left: 0;
  right: 100%;
  background: #d31334;
  transition: right 0.25s ease-in-out;
}

.policy {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.policy:after {
  display: block;
  position: absolute;
  content: "";
  height: 0.125rem;
  bottom: -0.3125rem;
  top: auto;
  left: 0;
  right: 100%;
  background: #d31334;
  transition: right 0.25s ease-in-out;
}

.term {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.term:after {
  display: block;
  position: absolute;
  content: "";
  height: 0.125rem;
  bottom: -0.3125rem;
  top: auto;
  left: 0;
  right: 100%;
  background: #d31334;
  transition: right 0.25s ease-in-out;
}

@media only screen and (min-width: 62rem) {
  .noneExpander {
    padding: 0;
  }
}
@media only screen and (min-width: 62rem) {
  .policy {
    margin-left: 0;
    margin-bottom: 0;
    text-align: right;
  }
}
@media only screen and (min-width: 62rem) {
  .term {
    margin-bottom: 0;
    margin-left: 1.5rem;
  }
}

/*# sourceMappingURL=Footer.css.map */
