.logInHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.875rem;
}
@media only screen and (max-width: 850px) {
  .logInHeaderContainer {
    margin-top: 2px;
  }
}
.logInHeaderContainer .logInHeader {
  min-width: 950px;
  font-width: 800;
  font-size: 45px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.logInHeaderContainer hr {
  margin: 2.25rem 0;
  width: 100%;
  border-bottom: 0.0625rem solid #d5d5d5;
  display: block;
}
@media only screen and (max-width: 850px) {
  .logInHeaderContainer hr {
    margin: 2px;
    border-bottom: 0.0625rem solid #d5d5d5;
  }
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 950px;
}
@media only screen and (max-width: 850px) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
}
.contentContainer .perksContainer {
  width: 400px;
  padding-right: 10px;
  border-right: 0.2rem solid #d5d5d5;
}
.contentContainer .perksContainer_Title {
  margin-top: 25px;
}
.contentContainer .perksContainer_Title::after {
  content: "";
  width: 1.5rem;
  height: 0.25rem;
  display: block;
  background: red;
}
.contentContainer .perksContainer_FirstTitle {
  margin-top: 0;
}
.contentContainer .perksContainer_FirstTitle::after {
  content: "";
  width: 1.5rem;
  height: 0.2rem;
  display: block;
  background: red;
}
.contentContainer .perksContainer .perkCell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
}
.contentContainer .perksContainer .perkCell_Icon {
  margin-right: 20px;
}
.contentContainer .perksContainer .perkCell_Des {
  margin: 0;
}
.contentContainer .logInSec {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 850px) {
  .contentContainer .logInSec {
    width: 95vw;
  }
}
.contentContainer .logInSec_Title {
  margin-top: 0;
}
.contentContainer .logInSec_Title::after {
  content: "";
  width: 1.5rem;
  height: 0.2rem;
  display: block;
  background: red;
}
@media only screen and (max-width: 850px) {
  .contentContainer .logInSec_Title::after {
    display: none;
  }
}
.contentContainer .logInSec .alert {
  background-color: #fae8ea;
  border: 0.0625rem solid #d22030;
  margin-bottom: 15px;
  padding: 10px;
}
@media only screen and (max-width: 850px) {
  .contentContainer .logInSec .alert {
    width: 90vw;
  }
}
.contentContainer .logInSec .alert_Container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.contentContainer .logInSec .email {
  margin-top: 20px;
}
.contentContainer .logInSec .email_Label {
  margin: 8px 0;
}
.contentContainer .logInSec .email_InputBox_Container {
  background-color: #fff;
  background-position: center right 1rem;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.125rem;
  padding: 0.875rem 1rem;
  width: 92%;
  margin-top: 10px;
}
.contentContainer .logInSec .email_InputBox_Container .email_InputBox {
  display: flex;
  flex-direction: row;
}
.contentContainer .logInSec .email_InputBox_Container .email_InputBox input {
  border: none;
  width: 350px;
  height: 18px;
  outline: none;
  font-size: 16px;
}
.contentContainer .logInSec .email_Msg {
  color: #d31334;
  font-size: 12px;
  margin-top: 10px;
}
.contentContainer .logInSec .password {
  margin-top: 20px;
}
.contentContainer .logInSec .password_InputBox_Container {
  background-color: #fff;
  background-position: center right 1rem;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.125rem;
  padding: 0.875rem 1rem;
  width: 92%;
  margin-top: 10px;
}
.contentContainer .logInSec .password_InputBox_Container .password_InputBox {
  display: flex;
  flex-direction: row;
}
.contentContainer .logInSec .password_InputBox_Container .password_InputBox input {
  border: none;
  width: 350px;
  height: 18px;
  outline: none;
  font-size: 16px;
}
.contentContainer .logInSec_Msg {
  color: #d31334;
  font-size: 12px;
  margin-top: 10px;
}
.contentContainer .forgetPassword {
  margin-top: 20px;
}
.contentContainer .forgetPassword a {
  text-decoration: none;
  border-bottom: 1px solid #57585B;
  margin-top: 10px;
  padding-top: 10px;
  color: black;
  font-size: 15px;
}
.contentContainer .forgetPassword a:hover {
  border-bottom: 1px solid #d31334;
}
.contentContainer .signInBtnDis {
  border-color: #bfbfbf;
  color: #fff;
  height: 25px;
  width: 400px;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  font-weight: 550;
  padding: 20px;
  margin-top: 20px;
  border: none;
  cursor: not-allowed;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 850px) {
  .contentContainer .signInBtnDis {
    width: 92vw;
  }
}
.contentContainer .signInBtnDis span {
  background-color: rgba(211, 19, 52, 0.001);
  color: #fff;
  height: 20px;
  width: 400px;
  text-align: center;
  text-decoration: none;
  font-size: large;
  font-weight: 550;
  border: none;
}
@media only screen and (max-width: 850px) {
  .contentContainer .signInBtnDis span {
    width: 92vw;
  }
}
.contentContainer .signInBtn {
  background-color: #d31334;
  color: #fff;
  height: 25px;
  width: 400px;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  font-weight: 550;
  padding: 20px;
  margin-top: 20px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 850px) {
  .contentContainer .signInBtn {
    width: 92vw;
  }
}
.contentContainer .signInBtn span {
  background-color: rgba(211, 19, 52, 0.001);
  color: #fff;
  height: 20px;
  width: 400px;
  text-align: center;
  text-decoration: none;
  font-size: large;
  font-weight: 550;
  border: none;
}
@media only screen and (max-width: 850px) {
  .contentContainer .signInBtn span {
    width: 92vw;
  }
}
.contentContainer .signInBtn .span:hover {
  cursor: pointer;
  background-color: darkred;
}
.contentContainer .signInBtn:hover {
  cursor: pointer;
  background-color: darkred;
}
.contentContainer .breakLn {
  border-bottom: 1px solid #bfbfbf;
  width: 100%;
}
.contentContainer .signUpBtn {
  margin-top: 20px;
}
@media only screen and (max-width: 850px) {
  .contentContainer .signUpBtn {
    display: none;
  }
}
.contentContainer .signUpBtn a {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-top: 10px;
  color: black;
  font-size: 20px;
  font-weight: 800;
}
.contentContainer .signUpBtnResContainer {
  display: none;
}
@media only screen and (max-width: 850px) {
  .contentContainer .signUpBtnResContainer {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
  }
}
.contentContainer .signUpBtnResContainer .signUpBtnResHeader {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.contentContainer .signUpBtnResContainer .signUpBtnRes {
  border-color: #bfbfbf;
  color: #fff;
  height: 25px;
  width: 92vw;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  font-weight: 550;
  padding: 20px;
  border: none;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px;
}
.contentContainer .signUpBtnResContainer .signUpBtnRes span {
  background-color: rgba(211, 19, 52, 0.001);
  color: #fff;
  height: 20px;
  width: 92vw;
  text-align: center;
  text-decoration: none;
  font-size: large;
  font-weight: 550;
  border: none;
}
.contentContainer .signUpBtnResContainer .signUpBtnRes:hover {
  cursor: pointer;
  background-color: gray;
}

/*# sourceMappingURL=LogInPage.css.map */
